* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  color: hsl(30deg, 10%, 34%);
  font-weight: 400;
  line-height: 1.5;
}

body {
  background-color: hsl(30deg, 54%, 90%);
}

main {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(30deg, 54%, 90%);
}
main #attribution {
  text-align: center;
  margin: 2% auto 3% auto;
}

h1 {
  font-family: "Young Serif";
  font-weight: 400;
  font-size: 2rem;
}

p, li, td {
  font-size: 1.2rem;
}

hr {
  margin: 5% auto;
  color: hsl(30deg, 10%, 34%);
}

#main-section {
  margin: 5% auto 2% auto;
  width: 50rem;
  max-width: 1440px;
  padding: 2rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1.5rem;
}
#main-section #img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-section #img-div img {
  width: 100%;
  border-radius: 1rem;
}
#main-section #recipe-head h1 {
  margin: 1.5rem auto;
  font-size: 2.975rem;
  color: hsl(24deg, 5%, 18%);
}
#main-section #recipe-head p {
  margin: 1rem auto;
}
#main-section #p-time {
  background-color: hsl(330deg, 100%, 98%);
  padding: 30px 25px;
  border-radius: 1rem;
  margin: 5% auto;
}
#main-section #p-time h3 {
  font-size: 1.3rem;
  margin-bottom: 3%;
  color: hsl(332deg, 51%, 32%);
  font-weight: 700;
}
#main-section #p-time ul {
  padding-left: 25px;
}
#main-section #p-time ul li {
  padding: 3px 0px 5px 15px;
}
#main-section #p-time ul li span {
  font-weight: 600;
}
#main-section #ingredients {
  margin: 5% auto;
}
#main-section #ingredients h1 {
  color: hsl(14deg, 45%, 36%);
}
#main-section #ingredients ul {
  margin: 3% auto;
  padding-left: 25px;
}
#main-section #ingredients ul li {
  padding: 3px 0px 5px 15px;
}
#main-section #ingredients ul li span {
  font-weight: 600;
}
#main-section #ingredients ul li::marker {
  color: hsl(14deg, 45%, 36%);
  font-size: 0.8rem;
}
#main-section #instructions {
  margin: 5% auto;
}
#main-section #instructions h1 {
  color: hsl(14deg, 45%, 36%);
}
#main-section #instructions ol {
  margin: 3% auto;
  padding-left: 25px;
}
#main-section #instructions ol li {
  padding: 3px 0px 5px 15px;
}
#main-section #instructions ol li span {
  font-weight: 700;
}
#main-section #instructions ol li::marker {
  color: hsl(332deg, 51%, 32%);
  font-weight: 600;
}
#main-section #nutrition {
  margin: 5% auto;
}
#main-section #nutrition h1 {
  color: hsl(14deg, 45%, 36%);
}
#main-section #nutrition p {
  margin: 3% auto;
}
#main-section #nutrition table {
  width: 100%;
}
#main-section #nutrition table td {
  border-bottom: 1.2px solid hsl(30deg, 18%, 87%);
  padding: 1.3rem 1rem;
}
#main-section #nutrition table td:nth-child(2) {
  font-weight: 700;
  color: hsl(14deg, 45%, 36%);
}

@media only screen and (max-width: 480px) {
  hr {
    width: 85%;
  }
  #main-section {
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
  #main-section #img-div {
    width: 100%;
  }
  #main-section #img-div img {
    width: 100%;
    border-radius: 0;
  }
  #main-section #recipe-head, #main-section #p-time, #main-section #ingredients, #main-section #instructions, #main-section #nutrition {
    margin: 3% 3%;
  }
}/*# sourceMappingURL=style.css.map */